@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import "variables";
@import "fonts/themify";
@import "fonts/bebas-neue";
@import "box";
@import "sticker";






* {
  box-sizing: border-box;
}
body {
  background: $c-background;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1098px;
  padding: 15px;
  margin: 0 auto;
}
