$c-black:      #181818;
$c-white:      #ffffff;
$c-light-gray: #f5f4f9;
$c-pink:       #fd8d7b;
$c-aqua:       #6fcffb;
$c-background: #9789f9;
$c-dark-gray:  #3b4040;
$c-gray:       #a9a9a9;
$c-box-shadow: #7a6be7;
