@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@font-face {
  font-family: 'themify';
  src: url("../fonts/themify/themify.eot?-fvbane");
  src: url("../fonts/themify/themify.eot?#iefix-fvbane") format("embedded-opentype"), url("../fonts/themify/themify.woff?-fvbane") format("woff"), url("../fonts/themify/themify.ttf?-fvbane") format("truetype"), url("../fonts/themify/themify.svg?-fvbane#themify") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="ti-"], [class*=" ti-"] {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ti-paint-bucket:before {
  content: "\e61f"; }

.ti-hummer:before {
  content: "\e69a"; }

.ti-palette:before {
  content: "\e6e0"; }

@font-face {
  font-family: 'BebasNeue';
  src: url("../fonts/bebas-neue/BebasNeueLight.ttf?-fvbane");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'BebasNeue';
  src: url("../fonts/bebas-neue/BebasNeueThin.ttf?-fvbane");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'BebasNeue';
  src: url("../fonts/bebas-neue/BebasNeueRegular.ttf?-fvbane");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'BebasNeue';
  src: url("../fonts/bebas-neue/BebasNeueBold.ttf?-fvbane");
  font-weight: 700;
  font-style: normal; }
.box {
  position: relative;
  width: 30.6179775281%;
  height: 611px;
  background: #f5f4f9;
  box-shadow: 2.4px 4.4px 59px 0 #7a6be7; }
  .box__info {
    position: relative;
    min-height: 328px; }
    .box__info .ti-palette, .box__info .ti-hummer, .box__info .ti-paint-bucket {
      position: relative;
      align-self: flex-end;
      font-family: 'themify';
      color: #181818;
      font-size: 30px;
      font-weight: 400; }
    .box__info-decoration {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 68px;
      overflow: hidden; }
      .box__info-decoration:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 200%;
        padding-bottom: 300%;
        margin-left: -50%;
        background: #ffffff;
        border-radius: 50%; }
  .box__list {
    margin: 0;
    padding: 20px 96px 42px;
    background: #ffffff;
    list-style: none; }
  .box__item {
    font-family: 'Roboto', sans-serif;
    color: #181818;
    font-size: 16px;
    font-weight: 300;
    line-height: 53px;
    text-align: left;
    white-space: nowrap; }
  .box__button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    width: 203px;
    height: 54px;
    border-radius: 27px;
    background-color: #6fcffb;
    box-shadow: 2px 4px 18px 0px rgba(133, 192, 247, 0.31);
    text-align: center;
    text-decoration: none; }
    .box__button-link {
      font-family: 'BebasNeue', sans-serif;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      line-height: 54px;
      letter-spacing: 1.4px; }

.price {
  width: 100%;
  text-align: center;
  padding-top: 36px;
  font-family: 'BebasNeue', sans-serif; }
  .price__number {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #181818;
    font-weight: 100; }
    .price__number-currency {
      align-self: flex-start;
      font-size: 24px;
      line-height: 21px; }
    .price__number-quantity {
      font-size: 60px;
      line-height: 44px; }
    .price__number-unit {
      align-self: flex-end;
      font-size: 16px;
      font-weight: 400;
      line-height: 12px; }
  .price__text {
    margin: 24px 0 31px;
    font-size: 24px;
    font-weight: 400;
    line-height: 17px; }

.long-box {
  position: relative;
  width: 34.6441947566%;
  height: 691px; }
  .long-box .box__info-decoration {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77px;
    overflow: hidden; }
    .long-box .box__info-decoration:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 200%;
      padding-bottom: 300%;
      margin-left: -50%;
      background: #ffffff;
      border-radius: 50%; }
  .long-box .box__list {
    padding: 32px 96px 52px; }
  .long-box .box__button {
    background: #fd8d7b; }
  .long-box .box__promo {
    display: block;
    padding-top: 46px;
    font-family: 'Roboto', sans-serif;
    color: #a9a9a9;
    font-size: 11px;
    font-weight: 300;
    line-height: 11px;
    text-align: center; }

.sticker {
  position: absolute;
  top: 10px;
  right: 10px;
  max-width: 59px; }
  .sticker:before {
    position: absolute;
    top: 20px;
    left: 20px;
    content: "p";
    font-family: 'BebasNeue', sans-serif;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px; }

* {
  box-sizing: border-box; }

body {
  background: #9789f9; }

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1098px;
  padding: 15px;
  margin: 0 auto; }

/*# sourceMappingURL=main.css.map */
