@font-face {
	font-family: 'BebasNeue';
	src:url('../fonts/bebas-neue/BebasNeueLight.ttf?-fvbane');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'BebasNeue';
	src:url('../fonts/bebas-neue/BebasNeueThin.ttf?-fvbane');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'BebasNeue';
	src:url('../fonts/bebas-neue/BebasNeueRegular.ttf?-fvbane');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'BebasNeue';
	src:url('../fonts/bebas-neue/BebasNeueBold.ttf?-fvbane');
	font-weight: 700;
	font-style: normal;
}
